@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: fill-available;
  height: -webkit-fill-available;
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply h-full bg-gray-50;
}

#__next {
  @apply h-full;
}

main {
  @apply h-full;
}

h1 {
  @apply text-3xl font-extrabold;
}
